# CREANDO DICCIONARIOS

In [1]:
#Diccionario
planet = {
    'nombre' : 'Marte',
    'lunas' : 2
}

In [5]:
#Recuperar valores
print(planet.get('nombre'))
print(planet['lunas'])

Marte
2

In [7]:
#Nuevo diccionario
planet['Circunferencia(KM)'] = {
    'polar' : 6752,
    'equatorial' : 6792
}

print(planet)

{'nombre': 'Marte', 'lunas': 2, 'Circunferencia(KM)': {'polar': 6752, 'equatorial': 6792}}

In [14]:
#Mostrar el planeta con la circunferencia
print(planet['nombre']+" tien un circunferencia polar de: "+ str(planet['Circunferencia(KM)']['polar']))

Marte tien un circunferencia polar de: 6752

## Ejercicio 2: Programación dinámica con diccionarios

In [15]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [25]:
#Almacendado valores
moons = 0
for values in planet_moons.values():
    moons = moons + values
print("Son " +str(moons) +" lunas en total")

planets= len(planet_moons)
print("Hay " + str(planets) + " Planetas en total")

promedio = moons / planets
print("El promedio es: " + str(promedio))

Son 214 lunas en total
Hay 12 Planetas en total
El promedio es: 17.833333333333332